@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 0 10px;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 80%;
}

.image-container {
    width: 114px;
    height: 114px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.menu-list-container {
    width: 500px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul .menu-list {
    list-style: none;
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

ul .menu-list:hover {
    color: grey;
}

.jumbotron-container {
    height: 350px;
}

.jumbotron-container {
    height: 350px;
    background-image: url("/assets/img/jumbotron.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.jumbotron-container img {
    height: 380px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-jumbotron {
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

.title-jumbotron {
    color: white;
    position: absolute;
    width: 80%;
    padding: 0 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-jumbotron h2,
h1 {
    text-align: center;
}

.btn-about {
    width: 140px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.btn-about a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.swiper {
    max-width: 1200px;
    height: 300px;

    margin-top: 20px;
}

.swiper-pagination {
    position: static !important;
}
.swiper-slide {
    width: 100px;
    height: 100px;
}

.slide-container {
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-testimoni {
}

.pilihan-motor {
    width: 100%;
    margin-top: 50px;
}

.pilihan-motor .judul {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    max-width: 285px;
    max-height: 412px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.card-container img {
    width: 100%;
    object-fit: cover;
}

.card-container h2 {
    text-align: center;
}

.desc {
    margin: 0 auto;
    text-align: center;
}

.card-container a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    padding: 5px;
    width: 100%;
}

.pilihan-motor-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.card-outside-container {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%);
}

.img-container {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
